<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pokemon Gatcha</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="../hosted/assets/pokeball.png" alt="Poke logo" /></a>
    <div class="navlink"><a id="generateButton">Pokemon Generator</a></div>
    <div class="navlink"><a id="listButton">Pokemon List</a></div>
    <div class="navlink"><a id="accountButton">My Account</a></div>
    <div class="navlink"><a id="premiumButton">Go Premium</a></div>
    <div class="navlink"><a id="logoutButton" href="/logout">Log out</a></div>

  </nav>
  <section id="pokeGenerator">
  </section>
  <div id="pokeMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <div id="adSpace">
    <img  src="/assets/img/Ad.png"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>